*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: #E1E1E1;
  position: relative;
  margin: 0;
  padding: 0;
}

nav {
  position: fixed;
  top: -20px;
  left: 0;
  right: 0;
}

.home-section {
  height: 90vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/Exclusive-restaurant-1.jpg") center center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.home-header {
  color: #fff;
  font-size: 2rem;
  font-family: "Dancing Script", cursive;
}

/* .navbar > ul { */
ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  display: block;
  color: white;
  text-align: center;
  padding: 16px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li:hover {
  background-color:rgba(0, 0, 0, 0.2);
}

.active {
  background-color: red !important;
}

.menu-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.left-btm-section {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../images/Exclusive-menu-2.jpeg") center center;
  margin: 0 3rem;
}

.right-btm-section {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/Exclusive-menu-3.jpeg") center center;
  margin: 0 3rem;
}
